.cookieConsentContainer {

	z-index: 999;

	width: 350px;

	min-height: 20px;

	box-sizing: border-box;

	padding: 30px 30px 30px 30px;

	background: #EFEBDA;

	overflow: hidden;

	position: fixed;

    bottom: 30px;

	right: 30px;

	display: block;

	border-radius: 0px;

	border: solid 2px;
	
	border-color: #BE8A57;

	box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.05);

}

.cookieConsentContainer .cookieTitle a {

	font-family: Raleway, arial, "sans-serif";

	color: #4C3D7F;

	font-size: 20px;

	font-weight: 500;

	line-height: 20px;

	display: block;

}

.cookieConsentContainer .cookieDesc p {

	margin: 0;

	padding: 0;

	font-family: Raleway, arial, "sans-serif";

	color: #4C3D7F;

	font-size: 15px;

	line-height: 20px;

	display: block;

	margin-top: 10px;

	width: 100%;

} 

.cookieConsentContainer .cookieDesc a {

	font-family: OpenSans, arial, "sans-serif";

	color: #BE8A57;

	text-decoration: underline;

}

.cookieConsentContainer .cookieButton a {

	display: inline-block;

	font-family: Raleway, arial, "sans-serif";

	color: #BE8A57;

	font-size: 15px;

	margin-top: 14px;

	background: #19094C;

	box-sizing: border-box; 

	padding: 7px 24px;

	text-align: center;

	transition: background 0.3s;

	border-radius: 0px;

}

.cookieConsentContainer .cookieButton a:hover { 

	cursor: pointer;

	background: #4C3D7F;

}

.cookieConsentContainer .cookiePhoto {

	width: 85px;

	height: 80px;

	margin-bottom: 10px;

}



@media (max-width: 980px) {

	.cookieConsentContainer {

		bottom: 0px !important;

		left: 0px !important;

		width: 100%  !important;

		border-radius: 0px;

	}

	.cookieConsentContainer .cookieDesc p {
	
		width: 70%;
	
	} 

}